.beat_container {
  background: red;

  height: 100px;
  width: fit-content;

  display: grid;
  grid-template-columns: repeat(4, 1fr);

  .bar_container {
    height: 100%;

    padding: 10px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);

    border: solid black 2px;

    gap: 5px;

    .sixteenth {
      height: 100%;
      width: 20px;
      border: solid black 2px;

      &.on {
        background: black;
      }

      &.active {
        border: solid darkorange 4px;
      }
    }
  }
}
